<!DOCTYPE>

<html>

	<head>

		<{% assets "app_css" %}
        <link rel='stylesheet' href="{{ ASSET_URL }}" async/>
    {% endassets %}

		<{% assets "main_css" %}
				<link rel='stylesheet' href="{{ ASSET_URL }}" async/>
		{% endassets %}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" async>

	</head>

	<body>


		<header data-current-skin="blue" class="clearfix" id="header">
            <ul class="header-inner">
                <li data-trigger="#sidebar" id="menu-trigger">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>

                <li class="logo hidden-xs">
                    <a href="index.html">Survey Bills</a>
                </li>

                <li class="pull-right">
                    <ul class="top-menu">

											  <!-- <li id="toggle-width">
                            <div class="toggle-switch">
                                <input type="checkbox" hidden="hidden" id="tw-switch">
                                <label class="ts-helper" for="tw-switch"></label>
                            </div>
                        </li> -->

												<li >
														<a href="" >
																<i class="tm-icon fa fa-plus-circle"></i>

														</a>
												</li>

                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="tm-icon fa fa-bell"></i>
                                <i class="tmn-counts">9</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg pull-right">
                                <div id="notifications" class="listview">
                                    <div class="lv-header">
                                        Notification

                                        <ul class="actions">
                                            <li class="dropdown">
                                                <a data-clear="notification" href="">
                                                    <i class="zmdi zmdi-check-all"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="lv-body">
                                        <a href="" class="lv-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img alt="" src="img/profile-pics/1.jpg" class="lv-img-sm">
                                                </div>
                                                <div class="media-body">
                                                    <div class="lv-title">David Belle</div>
                                                    <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" class="lv-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img alt="" src="img/profile-pics/2.jpg" class="lv-img-sm">
                                                </div>
                                                <div class="media-body">
                                                    <div class="lv-title">Jonathan Morris</div>
                                                    <small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" class="lv-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img alt="" src="img/profile-pics/3.jpg" class="lv-img-sm">
                                                </div>
                                                <div class="media-body">
                                                    <div class="lv-title">Fredric Mitchell Jr.</div>
                                                    <small class="lv-small">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" class="lv-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img alt="" src="img/profile-pics/4.jpg" class="lv-img-sm">
                                                </div>
                                                <div class="media-body">
                                                    <div class="lv-title">Glenn Jecobs</div>
                                                    <small class="lv-small">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" class="lv-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img alt="" src="img/profile-pics/4.jpg" class="lv-img-sm">
                                                </div>
                                                <div class="media-body">
                                                    <div class="lv-title">Bill Phillips</div>
                                                    <small class="lv-small">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <a href="" class="lv-footer">View Previous</a>
                                </div>

                            </div>
                        </li>

                        <li class="dropdown">
                            <a href="" data-toggle="dropdown" aria-expanded="false"><i class="tm-icon fa fa-cog"></i></a>
                            <ul class="dropdown-menu dm-icon pull-right">

                                <li class="hidden-xs">
                                    <a href="" data-action="fullscreen"><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                                </li>
                                <li>
                                    <a href="" data-action="clear-localstorage"><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
                                </li>
                                <li>
                                    <a href=""><i class="zmdi zmdi-face"></i> Privacy Settings</a>
                                </li>
                                <li>
                                    <a href=""><i class="zmdi zmdi-settings"></i> Other Settings</a>
                                </li>
                            </ul>
                        </li>

												<li class="dropdown">
														<a href="" data-toggle="dropdown" aria-expanded="false">
															<i class="tm-icon fa fa-user"></i>
															<span>User name</span>
														</a>
														<ul class="dropdown-menu dm-icon pull-right">

																<li class="hidden-xs">
																		<a href="" data-action="fullscreen"><i class="fa fa-user"></i> Profile</a>
																</li>
																<li>
																		<a href="" data-action="clear-localstorage"><i class="fa fa-power-off"></i> Sign out</a>
																</li>

														</ul>
												</li>


                    </ul>
                </li>
            </ul>



        </header>



				<aside id="sidebar" class="sidebar c-overflow">
							 <div class="profile-menu">
									 <a href="">
											 <div class="profile-pic">
													 <img src="img/profile-pics/1.jpg" alt="">
											 </div>

											 <div class="profile-info">
													 Malinda Hollaway

													 <i class="zmdi zmdi-caret-down"></i>
											 </div>
									 </a>

									 <ul class="main-menu">
											 <li>
													 <a href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
											 </li>
											 <li>
													 <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
											 </li>
											 <li>
													 <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
											 </li>
									 </ul>
							 </div>

							 <ul class="main-menu">
									 <li class="active">
											 <a href="index.html"><i class="fa fa-bar-chart"></i> Dashboard</a>
									 </li>
									 <li class="active">
											<a href="index.html"><i class="fa fa-check-square-o"></i> My Surveys</a>
									</li>
									 <li class="sub-menu">
											 <a href=""><i class="fa fa-home"></i> Headers</a>

											 <ul>
													 <li><a href="textual-menu.html">Textual menu</a></li>
													 <li><a href="image-logo.html">Image logo</a></li>
													 <li><a href="top-mainmenu.html">Mainmenu on top</a></li>
											 </ul>
									 </li>

							 </ul>
					 </aside>


	 <div style="margin-top:100px">
		{% block content %}
		{% endblock %}

		</div>

		{% assets "vendor_login_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

		{% assets "functions_js" %}
				<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}


		
		                        <!-- Data Table -->
		                      <script type="text/javascript">
		                          $(document).ready(function(){
		                              //Basic Example
		                              $("#data-table-basic").bootgrid({
		                                  css: {
		                                      icon: 'zmdi icon',
		                                      iconColumns: 'zmdi-view-module',
		                                      iconDown: 'zmdi-expand-more',
		                                      iconRefresh: 'zmdi-refresh',
		                                      iconUp: 'zmdi-expand-less'
		                                  },
		                              });

		                              //Selection
		                              $("#data-table-selection").bootgrid({
		                                  css: {
		                                      icon: 'zmdi icon',
		                                      iconColumns: 'zmdi-view-module',
		                                      iconDown: 'zmdi-expand-more',
		                                      iconRefresh: 'zmdi-refresh',
		                                      iconUp: 'zmdi-expand-less'
		                                  },
		                                  selection: true,
		                                  multiSelect: true,
		                                  rowSelect: true,
		                                  keepSelection: true
		                              });

		                              //Command Buttons
		                              $("#data-table-command").bootgrid({
		                                  css: {
		                                      icon: 'zmdi icon',
		                                      iconColumns: 'zmdi-view-module',
		                                      iconDown: 'zmdi-expand-more',
		                                      iconRefresh: 'zmdi-refresh',
		                                      iconUp: 'zmdi-expand-less'
		                                  },
		                                  formatters: {
		                                      "commands": function(column, row) {
		                                          return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-edit\"></span></button> " +
		                                              "<button type=\"button\" class=\"btn btn-icon command-delete waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-delete\"></span></button>";
		                                      }
		                                  }
		                              });
		                          });
		                      </script>


	</body>

</html>
